# Environments
.env
.env.local
.env.*.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.db
*.sqlite
*.sqlite3
.Python
env/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
venv/
.venv/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Mobile platforms
mobile/build/
mobile/.dart_tool/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/ios/Flutter/Generated.podspec
mobile/ios/Podfile.lock
mobile/ios/Pods/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/build/

# Web admin
web_admin/build/
web_admin/.dart_tool/
web_admin/ios/Podfile.lock
web_admin/ios/Pods/

# macOS / OS metadata
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.apk
